/** -------------------------------->
/** FONT PROPERTIES IN CSS
/** ---------------------------------------->

/*? Font Family:- The `font-family` property allows you to specify the font used for text. */

/*? Font Size:- The `font-size` property controls the size of text. */
/* - You can use various units like pixels (`px`), ems (`em`), percentages (%), or keywords (e.g.,
`small`, `medium`, `large`) to set the size. */

/*? Font Weight:- The `font-weight` property defines the thickness of text characters, ranging
from `100` (thin) to `900` (bold). 
*/

/*? Font Style:- The `font-style` property allows you to apply styles like italic to text. */
/* - Common values include `normal` (default), `italic`, and `oblique`. */

/*? Font Variant:- The `font-variant` property is used to control the appearance of text
characters by modifying their variant forms. 
*/
/* value: normal, small-caps */

 /* this is fetch from google fonts */
  @import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,400;1,500&display=swap');
 

body {
    background-color: hsl(0, 0%, 94%);
    display:grid;
    place-items: center;
}

.hero-section {
    width: 50%;
}


h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-family: 'Urbanist', sans-serif;
}

p{
    font-family: 'Urbanist', sans-serif;

}

/** ---------------------------------------->
/** Interview Question + CSS3 Property
/** --------------------------------------->

/*? 1: How to add custom fonts in CSS? */
/* To add custom fonts in CSS, you can use the @font-face rule, which allows you to define
include custom fonts in your web pages. 
*/

/*? 2: What is fallback fonts? Why is it important to include fallback fonts in your
stack, and how do you specify